---
import type { GetStaticPaths } from "astro";
import { fetchFromFirestore } from "../../lib/firestore";

const fetchedDocuments: any[] = await fetchFromFirestore(
  "documents",
  undefined,
  true,
  true
);

export function getStaticPaths() {
  return fetchedDocuments.map((document: any) => {
    return {
      params: {
        id: document.id,
        name: document?.head?.name || "",
      },
    };
  });
}

const { id, name } = Astro.params;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>
  </body>
</html>
