---
import Homepage from "../layouts/Homepage.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>LUAD Publications</title>
  </head>
  <!-- * ------------------------ * -->
  <body>
    <Homepage client:load />
  </body>

  <!-- * Global Styles * -->
  <style type="scss" is:global>
    body {
      width: 100%;
      margin: 0%;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;

      h1,
      h2,
      h3,
      p {
        margin: 0%;
      }
    }
    body:not(.darkmode) {
      h1,
      h2,
      h3,
      p {
        color: black;
      }
    }
    body.darkmode {
    }
  </style>
</html>
