---
import "../main.sass";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>About LUAD Publications</title>
  </head>
  <body class="light-theme">
    <div class="AboutPage">
      <h3>This page is in development</h3>
      <a href="/">Go back to homepage</a>
    </div>
  </body>
</html>
