---
import "../main.sass";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Document</title>
  </head>
  <body>
    <div class="AdminPage">
      <h1>Admin Page</h1>
    </div>
  </body>
</html>
