---
import Header from "../components/header.astro";
import ContentList from "../components/contentList.astro";
import "../main.sass";
import { ViewTransitions } from "astro:transitions";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/luad-small.webp" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Luad Publications</title>
    <ViewTransitions />
  </head>
  <body class="light-theme">
    <div class="Homepage">
      <Header />
      <ContentList />
    </div>
  </body>
</html>
