---
import Header from "../components/header.astro";
import ContentList from "../components/contentList.astro";
import "../main.sass";
import { SEO } from "astro-seo";
import LUADIconSmall from "../Assets/luad-small.webp";
import { getScreenType } from "../lib/randomUtils";

const {} = getScreenType(window.innerWidth);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/luad-small.webp" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <SEO
      title="LUAD Publications"
      description="A place where Potterians' talents and knowledge are published"
      openGraph={{
        basic: {
          title: "LUAD Publications",
          type: "website",
          image: LUADIconSmall.src,
        },
        optional: {
          description:
            "A place where Potterians' talents and knowledge are published",
        },
      }}
    />

    <title>Luad Publications</title>
  </head>
  <body class="light-theme">
    <div id="root">
      <div class="MediaWrapper">
        <div class="Homepage">
          <Header />
          <ContentList />
        </div>
      </div>
    </div>
  </body>
</html>
