---
import { header } from "../component/header";
import "../main.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/luad-small.webp" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Luad Publications</title>
  </head>
  <body>
    <header></header>
    <h1>Luad Publications</h1>
  </body>
</html>
