---
interface Props {
  title: string;
  headerImage?: string;
  isLargeCard?: boolean;
}

const { title, headerImage, isLargeCard } = Astro.props;
---

<div class=`ContentCard ${isLargeCard && "large"}`>
  <img src={headerImage} alt=`Header image of ${title}` />
  <h1 class="ContentCard-title">{title}</h1>
</div>
